---
layout: default
---
        
<div class="posts">
    {% for post in site.posts %}
    <div class="posts">
      <header class="jumbotron">
          <div class="container">
              <h1>{{ post.title }}</h1>
              <p class="meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
          </div>
      </header>
      <article class="container">
          {{ post.content }}
      </article>
    </div>
    {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>